body {
    margin: 0;
    border: 0;

}
.Banner{
    width: 100%;
}
.geral{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.FotoTexto{
    width: 50%;
    height: 100%;
    text-align: center;
}
.txt {
    font-size: 25px;
}
.Amanda {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    object-fit: cover ;
}
.Texto {
    width: 50%;
    height: 100%;
    margin-top: 75px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;

}
.text-meio {
    width: 80%;
    height: 100px;
    text-align: left;
    margin-top: 100px;
    margin-left: 40px;
}
.txt-mei{
    margin-left: 18px;
    font-size: 25px;
    font-family: 'Jost', sans-serif;
}
.txt-meio {
    margin-left: 18px;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
}
.geral-baixo {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.pequenos {
    width: 50%;
    height: 100%;
    display: flex;
}
.pqt-{
    text-align: center;
}
.pqt-txt {
    margin-left: 7px;
    font-family: 'Jost', sans-serif;
}
.img-voz {
    width: 50px;
    height: 50px;
    margin-left: 31px;
}
.img-gorfo {
    width: 80px;
    height: 80px;
}
.img-ouvido{
    width: 60px;
    height: 60px;
    margin-left: 21px;
}
.img-andando{
    width: 70px;
    height: 70px;
}