body {
    margin: 0;
    border: 0;
    background-color:  #eee6e6 !important;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.logo {
    margin-top: 24px;
    width: 140px;
    height: 135px;
}
.top{
    width: 100%;
    height: 80px;
    background-color: #5c9da8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Jost', sans-serif;
}
.itens-header{
    display: flex;
    width: 60%;
    justify-content: space-around;
    text-decoration: none !important;
}
.itens-header ul li {
    height: 80px;
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    margin-right: 100px;
    position: relative;
    text-decoration: none !important;

}
.itens-header ul li  a {
    font-size: 18px;
    color: black;
    line-height: 80px;
    text-decoration: none !important;
}
.itens-header ul li:hover .submenu {
    display: block;
    text-decoration: none !important;
}
.submenu {
    display: none;
    width: 100%;
    position: absolute;
    background-color:#5c9da8;
    left: 0;
    top: 75px;
    text-align: center;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}
.submenu li {
    height: 20px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.submenu li a {  
    font-style: italic;
    font-size: 20px;
    line-height: 25px !important;
}
.submenu li a:hover {
    color: #007B92;
    text-decoration: none !important;
}
.botoes-header{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.botoes-header ul li {
    display: inline-block;
    list-style: none;
    margin-right: 25px;
    text-decoration: none !important;
}
.btn-cadastro{
    background-color: #5c9da8;
    padding: 7px;
    border-radius: 5px;
    border: solid 1px  #4f5252;
    display: flex;
    color: black;
    font-family: 'Jost', sans-serif;
    text-decoration: none !important;
}
.btn-cadastro:hover{
    background-color: #8BA6AC;
    color: black;
    text-decoration: none !important;
    transform: scale(1.0)
}