body {
    margin: 0;
    border: 0;
    background-color: #E6E5E5 !important;
}
a {
    text-decoration: none;
    
}
.logo {
    width: 135px;
    height: 130px;
}
.top{
    width: 100%;
    height: 80px;
    background-color: #BDCDD0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tudo{
    width: 100%;
    height: 400px;
    text-align: center;
}
.itens-header{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.itens-header ul li {
    height: 80px;
    list-style: none;
    display: inline-block;
    margin-left: 30px;
    margin-right: 100px;
    position: relative;

}
.itens-header ul li  a {
    font-size: 18px;
    color: black;
    line-height: 80px;
}
.itens-header ul li:hover .submenu {
    display: block;
}
.submenu {
    display: none;
    width: 100%;
    position: absolute;
    background-color:#d9dfdf;
    left: 0;
    top: 80px;
    text-align: center;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}
.submenu li {
    height: 20px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding-bottom: 10px;
    padding-top: 10px;
}
.submenu li a {  
    font-style: italic;
    font-size: 20px;
    line-height: 25px !important;
}
.submenu li a:hover {
    color: #007B92;
}
.botoes-header{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.botoes-header ul li {
    display: inline-block;
    list-style: none;
    margin-right: 25px;
}
.btn-cadastro{
    background-color: #BDCDD0;
    padding: 7px;
    border-radius: 5px;
    border: solid 1px  #718c92;
    display: flex;
    color: black;
}
.btn-cadastro:hover{
    background-color: #8BA6AC;
    color: white;
    transform: scale(1.0)
}
.imagem{
    width: 100%;
    z-index: -1;
}
.texto1{
    margin-top: 140px;
    margin-left: 10%;
}
.caixatextoTerapeuta{
    margin-left: 20%;

}
.texto1Terapeuta{
    margin-top: 40%;
    font-size: 28px;
}
.texto2Terapeuta{
    margin-top: 5%;
    font-size: 28px;
}
.imgMayara{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5%;
    margin-top: 5%;
}
.FotoTexto {
    width: 100%;
    height: 500px;
    
}